<ul class="main">
	<li><a href="{{ root_url }}/blog/categories/xin-wen-kuai-xun">首页</a></li>
        <li><a href="{{ root_url }}/blog/categories/ji-gou-she-zhi">机构设置</a></li>
	<li><a href="{{ root_url }}/blog/categories/xin-wen-kuai-xun">新闻快讯</a></li>
	<li><a href="{{ root_url }}/blog/categories/985gong-cheng">“985工程”</a></li>
        <li><a href="{{ root_url }}/blog/categories/211gong-cheng">“211工程”</a></li>
        <li><a href="{{ root_url }}/blog/categories/xue-ke-ping-gu-yu-jian-she">学科评估与建设</a></li>
        <li><a href="{{ root_url }}/blog/categories/jiang-su-sheng-you-shi-xue-ke-gong-cheng">江苏省优势学科工程</a></li>
        <li><a href="{{ root_url }}/blog/categories/gai-ge-yu-fa-zhan-gui-hua">改革与发展规划</a></li>
        <li><a href="{{ root_url }}/blog/categories/gui-zhang-zhi-du">规章制度</a></li>
        <li><a href="{{ root_url }}/blog/categories/wen-jian-xia-zai">文件下载</a></li>
</ul>
